<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Scheduler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.0.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/signup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>

<body>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signupModal">Sign up</button>

    <!-- Signup Modal -->
    <div class="modal fade" id="signupModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign up</h4>
                </div>
                <div class="modal-body">
                    <p>ID: <input type="text" id="ID"/>
                        <button type="button" id="checkID">Check</button>
                    </p>
                    <p>Password: <input type="password" id="pwd"/></p>
                    <p>Password check: <input type="password" id="cpwd"/></p>
                    <p>Name: <input type="text" id="name"/></p>
                    <p>Rank: <input type="text" id="rank"/></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="signup_ok">Sign up</button>
                    <button type="button"
                            id="signup_close" data-dismiss="modal" onclick="initSignUpForm()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#logInModal">Log in</button>

    <!-- Signin Modal -->
    <div class="modal fade" id="logInModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Log In</h4>
                </div>
                <div class="modal-body">
                    <p>ID: <input type="text" id="loginID"/></p>
                    <p>Password: <input type="password" id="loginPwd"/></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="loginOK">Start</button>
                    <button type="button"
                            id="loginClose" data-dismiss="modal" onclick="initLogInForm()">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>